<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/productos.css" />
    <title>Productos</title>
  </head>
  <body>
    <header>
      <h1>Clothes Fresh</h1>
    </header>
    <main>
      <section class="product">
        <img src="../assets/images/producto.png" alt="Producto" />
        <button>Añadir al carrito</button>
      </section>
      <section class="product">
        <img src="../assets/images/producto.png" alt="Producto" />
        <button>Añadir al carrito</button>
      </section>
      <section class="product">
        <img src="../assets/images/producto.png" alt="Producto" />
        <button>Añadir al carrito</button>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Clothes fresh</p>
    </footer>
  </body>
</html>
